# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=paymenti7_merchant
POSTGRES_USER=paymenti7
POSTGRES_PASSWORD=paymenti7

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=paymenti7
RABBITMQ_PASSWORD=paymenti7
RABBITMQ_VHOST=/

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# Comunicação entre aplicações
MERCHANT_SERVICE_URL=http://localhost:8090
