# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=paymenti7_merchant
POSTGRES_USER=paymenti7
POSTGRES_PASSWORD=paymenti7

# PostgreSQL do payment-gateway-core
GATEWAY_POSTGRES_HOST=localhost
GATEWAY_POSTGRES_PORT=5433
GATEWAY_POSTGRES_DB=paymenti7_gateway
GATEWAY_POSTGRES_USER=paymenti7
GATEWAY_POSTGRES_PASSWORD=paymenti7

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=paymenti7
RABBITMQ_PASSWORD=paymenti7
RABBITMQ_VHOST=/

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# Comunicação entre aplicações
MERCHANT_SERVICE_URL=http://localhost:8090
